body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: plum;
    color: #333;
    margin-top: 30px;
}

header {
    background: rgb(252, 250, 252);
    color: black;
    margin: auto;
    text-align: center;
    padding: 2rem 1rem;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

main {
    padding: 2rem;
}

.shorten-section {
    text-align: center;
    margin-bottom: 3rem;
}

.shorten-section input {
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.shorten-section button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background: purple;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.shorten-section button:hover {
    background: rgb(155, 95, 155);
}

#shortened-result {
    margin-top: 10px;
    font-weight: bold;
}

#result { 
    width: 30%;
    margin: 20px auto;
	text-align: center;
	margin-top: 20px; 
}
.result-box {
	background: #f9f9f9;
	padding: 10px; 
	font-weight: bold; 
	border-radius: 10px; 
	box-shadow: 0 0 5px rgba(0,0,0,0.1); 
	margin-top: 10px; 
}
#result a {
    text-decoration: none;
}

.features {
    text-align: center;
}

.feature-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 2rem;
}

.feature {
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    width: 200px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.feature:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: white;
    margin-top: 2rem;
}

.why{
    padding: 10px 20px;
    margin-left: 500px;
    margin-right: 500px;
    border: none;
    border-radius: 5px;
    background: rgb(250, 247, 250);
    color: rgb(48, 45, 45);
}
.why:hover{
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
  