
body {
    font-style: italic;
    background-color: #fdfcff;
    margin: 0;
    padding: 30px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: #d8dcdf;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}

h1 {
    text-align: center;
    color: #333;
    
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="url"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;

}

.features {
    margin-top: 20px; 
    display: flex;
    gap: 40px;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.feature {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.dot.green {
    background-color: green;
}

.dot.blue {
    background-color: blue;
}

.dot.purple {
    background-color: purple;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    text-align: center;
    margin-top: 20px;
}


.result-box {
    background: #f9f9f9;
    padding: 10px;
    font-weight: bold;
    font-size: x-large;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-top: 10px;
}


#shortUrl {
    word-break: break-all;
    color: #007bff;
    text-decoration: none;
}
